* {
	margin: 0px;
	padding : 0px;
	background-repeat: no-repeat;
}

button {
    cursor: pointer;
}

textarea {
    resize: none;
}

.landing_page_container {
    position: absolute;
    width: 300px;
    height: 320px;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -165px;
}

.note_notes_label {
    text-align: center;
    font-size: 21px;
    margin-bottom: 5px;
}

.node_notes_logo {
    font-size: 51px;
    color: rgb(226, 117, 49);
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.signInButton,
.signUpButton {
    width: 49%;
}
button#logIN,
button#landing_register {
    width: 100%;
}

.notes_container {
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
}

.update_note_controls {
    display: none;
}

.updating_spinner {
    display: none;
}

.message_length_indicator {
    width: 0;
    height: 5px;
    background: rebeccapurple;
}


.three-quarters-loader:not(:required) {
    -moz-animation: three-quarters-loader 1250ms infinite linear;
    -webkit-animation: three-quarters-loader 1250ms infinite linear;
    animation: three-quarters-loader 1250ms infinite linear;
    border: 3px solid #38e;
    border-right-color: transparent;
    border-radius: 16px;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-indent: -9999px;
    width: 20px;
    height: 20px;
}
